@import '~@fluentui/react/dist/sass/References.scss';

.crudDemo {
  overflow: hidden;

  &__breadcrumb{
    font-size: small;
    font-weight: 700;
    gap: 10px;
    display: flex
  }
}

.crudDemo__breadcrumb span{
  cursor: pointer !important;
}

.arrowRight{
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  height: 0px;
    top: 7px;
    position: relative;
}

.tableContainer td{
  cursor: pointer;
}

.CRUDOperationContainer{
  display: block;
}
.formContainer{
  display: block;
}
.CRUDActionButtons{
  display: flex;
  gap: 10px;
}